.body {
  width: 100vw;

  background-image: url('https://images.unsplash.com/photo-1616712134411-6b6ae89bc3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1964&q=80');
  height: 100vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Candal', sans-serif;
}

.wrapper {
  position: absolute;

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.wrapper img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  margin-top: 20vh;
}
.wrapper h5 {
  color: white;
  font-size: 20px;
  position: absolute;
  margin: auto;
  top: 5vh;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-stretch: expanded;
  font-kerning: auto;
  text-transform: uppercase;
  text-shadow: 2px 2px gray;
  overflow: hidden;
  white-space: nowrap;
  width: 30ch;
  animation: type 10s steps(30);
}
.wrapper h3 {
  color: white;
  font-size: 30px;
  position: absolute;
  margin: auto;
  top: 17.5vh;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-stretch: expanded;
  font-kerning: auto;
  text-transform: uppercase;
}
.wrapper h1 {
  color: white;
  font-size: 30vw;
  letter-spacing: 0.3em;
  position: absolute;
  margin: auto;
  top: 25vh;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 900;

  font-stretch: expanded;
  font-kerning: auto;
  text-transform: uppercase;
}
.wrapper a {
  color: white;
  font-size: 15px;
  position: absolute;
  margin: auto;
  top: 30vh;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
