@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700,800,900&display=swap');
:root {
  --bg: rgba(0, 0, 0, 0.1);
  /* radial-gradient(
    circle,
    rgba(15, 152, 221, 1) 30%,
    rgba(19, 181, 210, 1) 68%,
    rgba(23, 205, 221, 1) 91%
  ); */
  --font: black;
  --hover: rgb(0, 0, 102);
  --shadow: 0px 6px 14px 1px #cbd2ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1rem;
  /* --bg: black;
  --font: white; */
  /* background: var(--bg); */
  background: radial-gradient(
    circle,
    rgba(15, 152, 221, 1) 30%,
    rgba(19, 181, 210, 1) 68%,
    rgba(23, 205, 221, 1) 91%
  );
  color: var(--font);
  padding-bottom: 0.5rem;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  /* color: var(--font);
  background-color: var(--bg); */
  margin: 0;
  padding: 0;

  max-width: 100%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal !important;
}

.emptyBlock {
  width: 100%;
  height: 6rem;
}

/* Navbar */
.navbar input[type='checkbox'],
.navbar .hamburger-lines {
  display: none;
}

.nav-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #544cff;
  position: fixed;
  width: 100%;
  background: var(--bg);
  color: var(--font);
  opacity: 0.9;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}
.logo {
  order: 1;
  font-size: 2.3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: var(--font);
  text-decoration: none;
  font-weight: bolder;
  opacity: 11;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--hover);
  cursor: pointer;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.99;
  }

  .navbar-container input[type='checkbox'],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type='checkbox'] {
    position: absolute;
    display: block;
    height: 44px;
    width: 44px;
    /* top: 20px;
    left: 20px; */
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    /* display: block; */
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--font);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: rgba(0, 17, 255, 0.2);
    height: 100vh;
    max-width: 220px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: inset 20px -20px 20px 20px rgba(17, 0, 168, 0.7);
    /* opacity: 0.5; */
    overflow: auto;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    opacity: 11;
    transition: color 0.3s ease-in-out;
    padding: 0 4px;
    border-radius: 0.5rem;
    box-shadow: inset 0px -4px 5px 2px blue;
  }

  .logo {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.7rem;
  }
  .logo a {
    box-shadow: none;
    color: black;
  }

  .navbar-container input[type='checkbox']:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type='checkbox']:checked ~ .logo {
    display: none;
  }
}

/* Theme btn */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background: var(--bg);
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 24px;
  height: 22px;
  background: var(--font);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  cursor: grab;
}
.ball:hover {
  box-shadow: 0 1px 14px 1px #aaa;
}
/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: rgba(156, 145, 124, 0.82);
  text-shadow: 0 0 3px #aaa;
}

.fa-sun {
  color: yellow;
  text-shadow: 0 0 2px yellow;
}
/* Navbar End*/

/* Form */
input,
textarea {
  width: 100%;
  color: var(--font);
  background: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0px 0px 20px 3px #9d9aff;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 3px 8px;
  margin: 1rem 1rem 2.5rem 1rem;
  /* border: inset; */
}

input[type='radio'] {
  color: rgb(0, 0, 0);
  background-color: black;
  /* filter: grayscale(100%) contrast(200%); */
  /* accent-color: black; */
  box-shadow: inset 0 0 5px 6px #ffffff;
  border-radius: 2rem;
}
input[type='radio']:checked {
  border: 4.5px solid black;
  background-color: black;
  color: rgb(255, 255, 255);
  accent-color: rgb(255, 255, 255);
  /* box-shadow: inset 0 0 5px 6px rgb(157, 255, 0); */
  box-shadow: inset 0px 0px 20px 3px #9d9aff;
  border-radius: 2rem;
}

label {
  width: 100%;
  font-size: 1.4 rem;
  font-weight: bolder;
  text-align: left;
  padding-left: 9px;
  margin-top: 1rem;
}

button {
  width: fit-content;
  border-radius: 3px;
  background: var(--bg);
  color: var(--font);
  border: 2px;
  padding: 5px 20px;
  font-size: 1.05rem;
  margin: 1rem auto;
  box-shadow: inset 0px 0px 20px 1px #cbd2ff;
}
button:hover {
  font-weight: bold;
  color: var(--hover);
  border: 2px;
  box-shadow: 0px 0px 20px 1px #cbd2ff;
}
/* Form Ended */

/* Scrollbar */
/* *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    transparent 100%,
    rgba(0, 0, 0, 1) 75%,
    transparent
  );
  border-radius: 1rem;
} */

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(96, 143, 236)),
    color-stop(0.72, rgb(93, 113, 138)),
    color-stop(0.86, rgb(123, 150, 230))
  );
}
/* Scrollbar End */
