.container {
  min-height: 60vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background: var(--bg); */
  color: var(--font);
}
